.our-works {
  background-blend-mode: lighten;
  padding: 0 var(--desktop-padding) 10%;
  background-size: 120%;

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8%;
    gap: 7%;
    max-width: 20%;
    line-height: 160%;
  }

  &__button {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 18px;
    border-bottom: 2px solid var(--primary-default);
    cursor: pointer;
    transition: all 0.3s;
  }

  &__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px var(--black-lighter);
  }

  &__button:active {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px var(--black-lighter);
  }

  &__box {
    background-color: var(--white-default);
    width: 80%;
    aspect-ratio: 7/4;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  &__images {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-right: 5%;
    height: 0;

    &__photo {
      width: 50%;
      aspect-ratio: 4/3;
      object-fit: cover;
      position: absolute;
      border-radius: 5px;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 5px 15px var(--black-default);

      &-p1 {
        left: 5%;
        margin-top: 10%;
      }

      &-p2 {
        margin-top: 24%;
        right: 5%;
      }

      &-p3 {
        margin-top: 45%;
        left: 18%;
      }

      &:hover {
        transform: scale(1.05);
        z-index: 10;
      }
    }

    &:hover &__photo:not(:hover) {
      transform: scale(0.95);
    }
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 1280px) {
  .our-works {
    padding: 0 var(--tablet-padding) 10%;
    background-size: 150%;

    &__box {
      width: 80%;
      aspect-ratio: 1;
      position: relative;
    }

    &__images {
      width: 100%;

      &__photo {
        &-p1 {
          left: 11%;
        }

        &-p3 {
          left: 20%;
        }

        &:hover {
          transform: none;
          z-index: 0;
        }
      }

      &:hover &__photo:not(:hover) {
        transform: none;
      }
    }

    &__button {
      position: absolute;
      bottom: 7%;
    }
  }
}

@media (max-width: 1024px) {
  .our-works {
    &__button {
      padding: 15px 22px;
      border-bottom: 1px solid var(--primary-default);
    }
  }
}

@media (max-width: 767px) {
  .our-works {
    &__button {
      padding: 12px 18px;
    }

    &__box {
      aspect-ratio: 1;
    }
  }
}

@media (max-width: 568px) {
  .our-works {
    padding: 0 var(--mobile-padding) 10%;

    &__button {
      padding: 6px 10px;
    }
  }
}
