.staff {
  padding: 0 var(--desktop-padding);
  box-sizing: border-box;
  animation: moveInLeftStaff 1.7s 0.5s;
  animation-fill-mode: backwards;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 1280px) {
  .staff {
    padding: 0 var(--tablet-padding);
    &__cards {
      gap: 15px;
    }
  }
}

@media (max-width: 767px) {
  .staff {
    &__cards {
      gap: 10px;
    }
  }
}

@media (max-width: 568px) {
  .staff {
    padding: 0 var(--mobile-padding);
  }
}

@keyframes moveInLeftStaff {
  0% {
    opacity: 0;
    transform: translateX(-8%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
