.products {
  padding: 150px var(--desktop-padding);

  &__content {
    display: flex;
    justify-content: space-between;

    &__images {
      display: flex;
      gap: 25px;
      overflow-x: scroll;
      padding: 20px 15px;
    }

    img {
      background-color: var(--white-darkest);
      height: 300px;
      aspect-ratio: 4/3;
      object-fit: contain;
      padding: 5px 20px;
      transition: all 0.3s;
      box-shadow: 0 8px 16px rgba(var(--black-default), 0.08);
      border: 1px solid var(--white-darkest);
    }

    img:hover {
      transform: translateY(-8px);
    }

    &__arrow {
      display: flex;
      align-items: center;
      opacity: 0.4;
      cursor: pointer;
      width: 60px;
      width: 60px;

      &-left {
        transform: rotate(180deg);
      }
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
  }
}

@media (max-width: 1280px) {
  .products {
    padding: 150px var(--tablet-padding);
  }
}

@media (max-width: 1024px) {
  .products {
    padding: 120px var(--tablet-padding);

    &__content {
      &__images {
        gap: 20px;
      }

      img {
        height: 270px;
        padding: 4px 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  .products {
    padding: 90px var(--tablet-padding);

    &__content {
      &__images {
        gap: 16px;
      }

      img {
        height: 240px;
        padding: 3px 14px;
      }
    }
  }
}

@media (max-width: 568px) {
  .products {
    padding: 70px var(--mobile-padding);

    &__content {
      &__images {
        gap: 12px;
      }

      img {
        height: 215px;
        padding: 2px 10px;
      }
    }
  }
}
