.services {
  padding: 0 var(--desktop-tripple-padding);
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: moveInBottomServices 1.4s;
}

@media (max-width: 1280px) {
  .services {
    padding: 0 var(--tablet-padding);
  }
}

@media (max-width: 568px) {
  .services {
    padding: 0 var(--mobile-padding);
  }
}

@keyframes moveInBottomServices {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
