.opened-photo {
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 90%;
    min-width: 40%;
    max-width: 90%;
    border-radius: 1%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    object-fit: cover;
    animation: moveInOpenedPhoto 0.2s 0.1s ease-out;
    animation-fill-mode: backwards;
  }
}

@keyframes moveInOpenedPhoto {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
