.info-card {
  flex: 0 0 calc(33% - 20px);
  max-width: calc(33% - 20px);
  width: 100%;
  transition: 0.3s;
  background-color: var(--white-darkest);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
  white-space: pre-line;
  transition: all 0.4s;
  border-radius: 5px;
  box-shadow: 0 8px 20px var(--black-lightest);

  &__content {
    line-height: 130%;
  }

  &__general {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &-description {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__skills {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    img {
      width: 50%;
    }
  }

  &-manager {
    height: fit-content;

    .info-card__general {
      align-items: center;

      &-description {
        gap: 30px;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px var(--black-lighter);
    z-index: 10;
  }
}

@media (max-width: 1280px) {
  .info-card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);

    &:hover {
      transform: none;
      box-shadow: none;
      z-index: 10;
    }
  }
}

@media (max-width: 767px) {
  .info-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
