.about {
  padding: 0 var(--desktop-padding);
  backface-visibility: hidden;

  &__text {
    padding: 0 var(--desktop-padding);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 50px 0;
    line-height: 160%;
    animation: moveInLeftAboutUs 1.4s 0.3s;
    animation-fill-mode: backwards;

    div {
      text-align: center;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &__managers {
    animation: moveInBottomAboutUs 1.3s 0.5s ease-out;
    animation-fill-mode: backwards;
  }
}

@media (max-width: 1280px) {
  .about {
    padding: 0 var(--tablet-padding);

    &__text {
      padding: 0 var(--tablet-padding);
      gap: 30px;
      margin: 40px 0;
    }

    &__cards {
      gap: 18px;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__text {
      padding: 0;
    }
    &__cards {
      gap: 14px;
    }
  }
}

@media (max-width: 568px) {
  .about {
    padding: 0 var(--mobile-padding);

    &__text {
      padding: 0 var(--mobile-padding);
      gap: 20px;
      margin: 25px 0;
      line-height: 110%;
    }
  }
}

@keyframes moveInLeftAboutUs {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottomAboutUs {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
